<div class="maincontainer">
  <div class="block">
    <div class="inner">
      <div class="blur"></div>
      <div class="above">
        <h1>Witamy w naszym serwisie</h1>
        <br>
        <div class="flex-container">
          <div>
            <h2>Gdzie nas znaleźć</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32529.733814787945!2d19.919294317477714!3d50.05714842113211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4e83edb79%3A0x12ec23c8f9c73c78!2sCentrum%20Informatyki%2C%20AGH%2C%20D-17!5e0!3m2!1spl!2spl!4v1670067665508!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer"></iframe>
          </div>
          <div class="contact">
            <h2>Dane kontaktowe</h2>
            <address>
              <p><b>Adres: </b>Kawiory 21, 30-055, Kraków</p>
              <p><b>Telefon: </b>123 456 789</p>
              <p><b>email: </b>localhosttrave@gmail.com</p>
            </address>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

